<!-- The Welcome , Home Page-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Dashboard</h2>
    <div class="stats">
        <div> <!--No. of Projects -->
            <h4>Conducted Projects</h4>
            <h5>N</h5>
        </div>
        <div> <!-- Monthly Revenue -->
            <h4>Monthly Cashflow</h4>
            <h5>N</h5>
        </div>
        <div> <!-- Expenses -->
            <h4>Expenses</h4>
            <h5>N</h5>
        </div>
        <div>
            Profit Obtained
        </div>
    </div>
</body>
</html>